<div class="main-layout">
  <header>
    <nav class="flex flex-row p-2">
      <div class="basis-3/4">
        <div class="flex flex-row">
          <a class="pr-5">
            <mat-icon class="mt-1">apps</mat-icon>
          </a>
          <a class="pr-5"> <img
            alt=""
            class="w-30 h-6"
            src="../../../../assets/images/jira-software.png"
          /></a>
          <div *ngFor="let i of listMenu" class="pr-5">
            <label class="label-li">{{i.label}}</label>
            <mat-icon class="expand_more">expand_more</mat-icon>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
      </div>
      <div class="basis-1/4">test</div>
    </nav>
  </header>
  <div class="inner-content">
    <router-outlet></router-outlet>
  </div>
  <footer></footer>
</div>
