<section>
  <div class="page-panel">
    <div class="panel-content">
      <header>
        <h1>Welcome to Jira</h1>
      </header>
      <form>
        <div class="username">
          <label>Username</label>
          <input />
        </div>
        <div class="password">
          <label>Password</label>
          <input />
        </div>
        <div class="checkbox">
          <input type="checkbox" /> <label>Remember my login on this computer</label>
          <p>Not a member? To request an account, please contact your Jira administrators.</p>
        </div>
        <div class="footer">
          <button>Log In</button>
          <a>Can't access your account?</a>
        </div>
      </form>
    </div>
  </div>
</section>
